
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<title>Login Page</title>
</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">Your Company Logo</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
            <form class="form-signin" name="myForm" #regForm="ngForm" (ngSubmit)="regForm.form.valid && loginUser(regForm)">
							<div class="row">
                <input type="text" id="Code" class="form__input" name="Code"  placeholder="Code" [(ngModel)]="Code" #CodeValue="ngModel"  required>
							
              </div>
              <div *ngIf="(CodeValue.touched || regForm.submitted) && CodeValue.errors?.required"
             class="alert alert-danger">
              Code is required 
            </div>
							<div class="row">
								<input type="password" id="password" class="form__input" name="password" placeholder="Password"  [(ngModel)]="password" #passwordValue="ngModel" required>
              </div>
              <div *ngIf="(passwordValue.touched || regForm.submitted) && passwordValue.errors?.required"
                 class="alert alert-danger">
                Password is required 
              </div>
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					<div class="row">
						
					</div>
				</div>
			</div>
		</div>
	</div>

</body>